section{
display: flex;
overflow-y: scroll;
}


article{
box-sizing: border-box;
background-color: darkseagreen;
height: auto;
margin-top: 0px;
margin-left: .5em;
margin-right: .5em;
min-width: 20em;
}

header{
height: 50%;
background-color: bisque;
}
